<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>hellow</h1>
  
    <form action="" method="post">
      {% csrf_token %}

      {% for field in form %}

      <label for="{{field.id_for_label}}"> {{field.label}} </label>

      <input
        type="{{field.field.widget.input_type}}"
        name="{{field.name}}"
        required={{field.field.required}}
        id="{{field.id_for_label}}"
        value={{field.value|default:''}}
      >

      {% endfor %}
       <button type="submit">Submit</button>
    </form>
  </body>
</html>
